table tbody, th, td {
  border: 1px solid #818589 !important;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;

}

tbody td {
  background: #fff;
}

tbody td.red {
  background: #f00;
  color: #fff;
}

tbody td.blue {
  background: #c9daf8;
}

tbody td.green {
  background: #d9ead3;
}

tbody td.gray {
  background: #f3f3f3;
}

tbody td.yellow {
  background: #fff2cc;
}